<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../.css/00_로그인.css">
    <title>EAT AI</title>
</head>
<body>
    <div class="main-page-before-login">
        <div class="container-35">
          <div class="header-menu-5">
            <div class="frame">
              <div class="features">Features</div>
            </div>
            <div class="frame2">
              <div class="pricing">Pricing</div>
            </div>
            <div class="frame3">
              <div class="about-us">About us</div>
            </div>
          </div>
          <div class="button-19">
            <div class="sign-up">회원가입</div>
          </div>
          <div class="button-20">
            <div class="sign-in">로그인</div>
          </div>
          <img class="_2025-03-10-122703-removebg-preview-1" src="./프로젝트/"/>
        </div>
        <div class="container-43">
          <video class="image-63" autoplay loop muted playsinline>
            <source src="../video/205733-927672950_small.mp4" type="video/mp4">
            브라우저가 동영상을 지원하지 않습니다.
          </video>
          <div class="button-31">
            <div class="join-us-now">식단 생성하기</div>
          </div>
          <div class="button-32">
            <div class="request-demo">둘러보기</div>
          </div>
          <div class="website-heading-goes-here">
            AI를 통해 식단을 자동완성 해보세요
          </div>
          <div
            class="occaecat-est-ipsum-reprehenderit-reprehenderit-veniam-anim-laborum-est-esse-duis-occaecat-reprehenderit-pariatur"
          >
            원하는 조건에 맞는 식단을 AI와 함께 자동완성 해보세요
          </div>
        </div>
        <div class="rectangle-2295"></div>
        <div class="group-7838">
          <div class="group-7836">
          </div>
        </div>
        </div>
      </div>
      
</body>
</html>