<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>회원가입</title>
  <!-- 기존 CSS 파일 -->
  <link rel="stylesheet" href="../.css/01_로그인.css" />
</head>
<body>
  <div class="login-page">
    <div class="container-35">
      <div class="frame-96">
        <div class="header-menu-5">
          <div class="frame">
            <div class="features">Features</div>
            <img class="chevron-down-large" src="./img/밑으로 화살표 2025-03-11 141350.png" />
          </div>
          <div class="frame2">
            <div class="pricing">Pricing</div>
          </div>
          <div class="frame3">
            <div class="about-us">About us</div>
          </div>
        </div>
        <div class="button-19">
          <div class="sign-up">회원가입</div>
        </div>
        <div class="button-20">
          <div class="sign-in">로그인</div>
        </div>
        <img
          class="image-62" src="./img/로고 2025-03-11 134849.png"/>
      </div>
    </div>
    <img class="image-63" src="./img/메인화면 2025-03-11 115742.png" />
    <div class="button-31">
      <div class="join-us-now">식단 생성하기</div>
    </div>
    <div class="button-32">
      <div class="request-demo">둘러보기</div>
    </div>
    <div class="website-heading-goes-here">
      AI를 통해 식단을 자동완성 해보세요
    </div>
    <div class="occaecat-est-ipsum-reprehenderit-reprehenderit-veniam-anim-laborum-est-esse-duis-occaecat-reprehenderit-pariatur">
      원하는 조건에 맞는 식단을 AI와 함께 자동완성 해보세요
    </div>

    <!-- 오버레이 (반투명 배경) -->
    <div class="rectangle-2296"></div>

    <!-- 모달 컨테이너 -->
    <div class="group-7838">
      <class="group-7836">
        <!-- 흰색 박스 + 왼쪽 이미지 -->
        <div class="rectangle-2294">
            <img class="rectangle-2295" src="/프로젝트/img/로고 2025-03-11 134849.png" alt="로고"/>
        </div>
        <div class="image-wapper">
            <img class="rectangle-2293" src="./img/회원가입 사진.png"alt="회원가입 사진">
        </div>
        <!-- [중요] 폼 요소들 전부 모달 내부로 이동 -->
        <div class="rectangle-22962"></div>
        <div class="enter-your-email">Enter your Email</div>
        <div class="rectangle-2297"></div>
        <div class="rectangle-2302"></div>
        <div class="naver">Naver로 계속하기</div>
        <div class="rectangle-2301"></div>
        <div class="apple">Apple로 계속하기</div>
        <div class="rectangle-2300"></div>
        <div class="google">Google로 계속하기</div>
        <div class="rectangle-2298"></div>
        <div class="rectangle-2303"></div>
        <div class="div">이메일로 회원가입</div>
        <div class="div2">로그인</div>
        <div class="enter-your-password">Enter your Password</div>
        <div class="rectangle-2299"></div>
        <div class="or">OR</div>
        <div class="line-39"></div>
        <div class="line-40"></div>
    </div>
  </div>
</body>
</html>
