<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../.css/03_로그인.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>이메일인증</title>
</head>
<body>
    <div class="verify-email-1">
        <img class="removebg-preview-1" src="../img/색종이.png" />
        <img class="dd-removebg-preview-1" src="../img/구멍.png" />
        <img class="d-removebg-preview-1" src="../img/앉아있는_사진-removebg-preview.png" />
        <div class="rectangle-2307"></div>
        <div class="example-eamil-com">
          example@eamil.com으로 인증번호를
          <br />
          보내시겠습니까?
        </div>
        <div class="div">이메일 인증</div>
        <img
          class="_2025-03-10-122703-removebg-preview-2"
          src="../img/logo.png"/>
        />
        <div class="icon-park-email-security">
          <img class="group" src="../img/메일.png" />
        </div>
        <div class="rectangle-2308"></div>
        <a href="04_로그인.html">
        <div class="div2">인증코드 보내기</div>
      </a>
      <i class="fa-solid fa-house"></i>
      </div>
      
</body>
</html>