<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../.css/04_로그인.css" />
    <title>Document</title>
</head>
<body>
    <div class="verify-eamil-2">
        <img class="removebg-preview-1" src="../img/색종이.png" />
        <img class="dd-removebg-preview-1" src="../img/구멍.png" />
        <img class="d-removebg-preview-1" src="../img/앉아있는_사진-removebg-preview.png" />
        <div class="rectangle-2307"></div>
        <div class="example-eamil-com">
          example@eamil.com으로 인증번호를
          <br />
          보냈습니다.
        </div>
        <div class="div">이메일 인증</div>
        <img
          class="_2025-03-10-122703-removebg-preview-2"
          src="../img/logo.png"/>
        <div class="icon-park-email-security">
          <img class="group" src="../img/메일.png" />
        </div>
        <div class="rectangle-2308"></div>
        <a href="05_로그인.html">
        <div class="div2">인증하기</div>
      </a>
        <div class="rectangle-2310"></div>
        <div class="div3">인증번호를 입력해주세요</div>
        <img class="vector" src="./img/집.png" />
      </div>
      
</body>
</html>