<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../.css/05_로그인.css" />
    <title>Document</title>
</head>
<body>
    <div class="div">
        <img
          class="_2025-03-10-122703-removebg-preview-3"
          src="./img/로고 2025-03-11 134849.png"
        />
        <div class="div2">
          김건도님!
          <br />
          <br />
          회원가입을 축하합니다.
        </div>
        <div class="div3">프로필 상세설정을 하고 식단을 완성해보세요!</div>
        <div class="rectangle-2316"></div>
        <a href="06_개인정보설정.html">
        <div class="div4">시작하기</div>
      </a>
      </div>
      
</body>
</html>