<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../.css/06_개인정보설정.css"/>
</head>
<body>
    <div class="div">
        <div class="profile">Profile</div>
        <img
          class="_2025-03-10-122703-removebg-preview-4"
          src="./img/로고 2025-03-11 134849.png"/>
        <div class="rectangle-2322"></div>
        <div class="div2">기본정보 입력</div>
        <div class="ellipse-365"></div>
        <div class="ellipse-366"></div>
        <div class="_1">1</div>
        <div class="_2">2</div>
        <div class="rectangle-2323"></div>
        <div class="rectangle-2324"></div>
        <div class="div3">개인정보 입력</div>
        <div class="div4">신체정보 입력</div>
        <img class="vector" src="vector0.svg" />
        <img
          class="hugeicons-body-part-muscle"
          src="hugeicons-body-part-muscle0.svg"
        />
        <div class="line-42"></div>
        <div class="line-43"></div>
        <div class="div5">나이</div>
        <div class="div6">전화번호</div>
        <div class="div7">성별</div>
        <div class="rectangle-2328"></div>
        <div class="rectangle-2331"></div>
        <div class="rectangle-2329"></div>
        <div class="rectangle-2327"></div>
        <div class="xnix-line-sort-down">
          <img class="vector2" src="vector1.svg" />
        </div>
        <div class="xnix-line-sort-down2">
          <img class="vector3" src="vector2.svg" />
        </div>
        <div class="_23">
          <input type="number" class="input1"
          id="number" namge="number" class="input" maxlength="20"/>
        </div>
        <div class="email">Email</div>
        <div class="_010-1111-2222">
          <input type="phone-number" class="input2"
          id="number" name="number" class="input" maxlength="20"/>
          </div>
        <div class="div8">
          <input type="gender" class="input3"
          id="gender" name="gender" class="gender" maxlength="20"/>
        </div>
        <div class="div9">닉네임</div>
        <div class="rectangle-2334"></div>
        <div class="div10">
          <input type="name" class="input"
          id="name" name="name" class="input" maxlength="20"/>
        </div>
        <div class="example-email-com">
          <input type="email" class="input4"
          id="dmail" name="email" class="input" maxlength="20"/>
        </div>
        <div class="rectangle-2333"></div>
        <a href="07_신체정보입력.html">
        <div class="div11">다음</div>
      </a>
        <div class="ellipse-367"></div>
        <div class="div12">프로필 사진 등록</div>
        <div class="div13">선호도 조사</div>
        <div class="rectangle-2338"></div>
        <div class="div14">칼로리 측정</div>
        <img class="vector4" src="vector3.svg" />
        <div class="rectangle-2339"></div>
        <div class="div15">식단 생성 조건</div>
        <img class="vector5" src="vector4.svg" />
      </div>
      
</body>
</html>