<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../.css/15_선호식단조사.css"/>
    <title>Document</title>
</head>
<body>
    <div class="div">
        <div class="profile">Profile</div>
        <img
          class="_2025-03-10-122703-removebg-preview-4"
          src="./img/로고 2025-03-11 134849.png"
        />
        <div class="rectangle-2322"></div>
        <div class="div2">선호도 조사</div>
        <div class="div3">기본정보 입력</div>
        <div class="ellipse-365"></div>
        <div class="ellipse-366"></div>
        <div class="_1">1</div>
        <div class="_2">2</div>
        <div class="rectangle-2323"></div>
        <div class="rectangle-2324"></div>
        <div class="div4">개인정보 입력</div>
        <div class="div5">신체정보 입력</div>
        <img class="vector" src="./img/사람.png" />
        <img
          class="hugeicons-body-part-muscle"
          src="./img/헬스.png"
        />
        <div class="rectangle-2334"></div>
        <div class="div6">칼로리 측정</div>
        <div class="line-42"></div>
        <div class="line-43"></div>
        <div class="rectangle-2333"></div>
        <a href="16_배달.html">
        <div class="div7">다음</div>
      </a>
        <img class="vector2" src="./img/불.png" />
        <div class="rectangle-2335"></div>
        <div class="div8">식단 생성 조건</div>
        <img class="vector3" src="./img/바구니.png" />
        <div class="ellipse-371"></div>
        <div class="ellipse-372"></div>
        <div class="ellipse-373"></div>
        <div class="ellipse-374"></div>
        <div class="div9">
          <span>
            <span class="div-9-span">
              식단에 사용할 예산
              <br />
            </span>
            <span class="div-9-span2">(하루 기준)</span>
          </span>
        </div>
        <div class="div10">마지막 단계에요!</div>
        <div class="rectangle-2352"></div>
        <div class="_15-000">15,000</div>
        <div class="div11">추가로 작성하고 싶은 조건이 있으면 작성해보세요!</div>
        <div class="rectangle-2353"></div>
        <div class="div12">원</div>
      </div>
      
</body>
</html>