<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배달</title>
  <!-- CSS 파일 연결 -->
  <link rel="stylesheet" href="../.css/16_배달.css">
</head>
<body>
  <div class="div">
    <!-- 로고 예시 이미지 -->
    <img
      class="_2025-03-10-122703-removebg-preview-4"
      src="./img/로고 2025-03-11 134849.png"
      alt="logo"
    />
    <div class="frame-137">
      <div class="div2">광주 어디든 배달 가능</div>
    </div>

    <!-- 메인 이미지 -->
    <img
      class="image-removebg-preview-1"
      src="./img/오토바이.png"
      alt="delivery"
    />
    <div class="_3">아침 : 7시 배송 시작<br> 점심 : 11시 배송 시작<br>
        저녁 5시 : 배송시작
        <p>배송 시작 1시간전에 주문 시 배달가능</p>
    </div>

    <!-- 하단 바(푸터) -->
    <div class="rectangle-2388"></div>
    <div class="diet-placer-with-ai-com">@Diet placer with ai.com</div>
    <div class="_010-1234-5678">010-1234-5678</div>
  </div>
</body>
</html>
