<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../.css/17_.ai.css">
    <title>Document</title>
</head>
<body>
    <div class="div">
        <img class="ai-removebg-preview-1" src="./img/ai_인공지능-removebg-preview.png"/>
        <div class="frame-138">
          <div class="eat-ai">
            EAT AI
            <br />
            상담 서비스
          </div>
        </div>
        <img
          class="_2025-03-10-122703-removebg-preview-5"
          src="./img/로고 2025-03-11 134849.png"
        />
        <div class="xnix-line-message">
          <img class="vector" src="./img/말풍선.png"/>
        </div>
        <div class="div2">집보내주세요</div>
        <div class="frame-139">
          <div class="ai">AI가 골라주는 나만의 맞춤 식단</div>
        </div>
        <div class="frame-140">
          <div class="div3">실시간 건강상태 분석과 관리</div>
        </div>
        <div class="frame-141">
          <div class="div3">매일 간편한 건강 습관 유지</div>
        </div>
        <div class="frame-142">
          <div class="div3">언제나 편리한 맞춤형 상담 서비스</div>
        </div>
        <div class="rectangle-2389"></div>
        <div class="diet-placer-with-ai-com">@Diet placer with ai.com</div>
        <div class="rectangle-2317"></div>
        <div class="frame-143">
          <div class="div4">시작하기</div>
        </div>
        <div class="div5">🍽️</div>
        <div class="div6">📊</div>
        <div class="div7">🌱</div>
        <div class="div8">💬</div>
      </div>
      
</body>
</html>