<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../.css/리뷰작성1.css">
    <title>Document</title>
</head>
<body>
    <div class="div">
        <div class="rectangle-2355"></div>
        <div class="div2">
          <span>
            <span class="div-2-span">베스트순 |</span>
            <span class="div-2-span2">최신순</span>
          </span>
        </div>
        <div class="div3">다음</div>
        <video class="image-63" autoplay loop muted playsinline>
            <source src="../video/샐러드.mp4" type="video/mp4">
            브라우저가 동영상을 지원하지 않습니다.
          </video>
        <img class="rectangle-2251" src="../img/닭가슴살.png" />
        <div class="div4">
          <br />
          상품명, 용량, 개수
          <br />
          <br />
          가격
          <br />
        </div>
        <div class="div6">상품평</div>
        <div class="rectangle-2405"></div>
        <div class="div7">나루토</div>
        <div class="_25-03-12">25.03.12</div>
        <div class="div8">사장님이 맛있고 음식이 친절해요</div>
        <div class="rectangle-2406"></div>
        <div class="rectangle-2407"></div>
        <div class="div10">김건도</div>
        <div class="_25-03-122">25.03.12</div>
        <div class="div11">다이어트 중인데 칼로리 계산이 편해요</div>
        <div class="rectangle-2408"></div>
        <div class="rectangle-2409"></div>
        <img
          class="_2025-03-10-122703-removebg-preview-4"
          src="../img/logo.png"/>
        <div class="div13">❤️</div>
        <div class="rectangle-2403"></div>
        <button class="submit-btn">리뷰 등록하기</button>
      </div>
      
</body>
</html>