<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../.css/리뷰작성.css"/>
    <script src="../.js/리뷰작성.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="div">
        <img
          class="_2025-03-10-122703-removebg-preview-4"
          src="../img/logo.png"/>
          <div class="rating">
            <div class="star" data-value="1"></div>
            <div class="star" data-value="2"></div>
            <div class="star" data-value="3"></div>
            <div class="star" data-value="4"></div>
            <div class="star" data-value="5"></div>
          </div>
          <div class="emoji" id="emoji">😐</div>
   </div>
          <div class="div2">리뷰 작성하기</div>
        <div class="frame-146">
          <div class="div3">별점을 선택해주세요</div>
        </div>
        <div class="frame-148"></div>
        <div class="rectangle-2404"></div>
        <div class="frame-149">
          <div class="frame-152">
            <div class="div5">
              <input type="review" class="input"
              id="review" name="review" class="input" 
              placeholder="이 제품/서비스를 사용하면서 어떤점이 좋았나요?"/>
              <button class="submit-btn">리뷰 등록하기</button>
            </div>
          </div>
        </div>
      </div>
</body>
</html>