.verify-eamil-2,
.verify-eamil-2 * {
  box-sizing: border-box;
}
.verify-eamil-2 {
  background: #ececec;
  height: 832px;
  position: relative;
  overflow: hidden;
}
.group-7844 {
  position: absolute;
  inset: 0;
}
.removebg-preview-1 {
  width: 375px;
  height: 298px;
  position: absolute;
  left: 1071px;
  top: 182px;
  object-fit: cover;
  aspect-ratio: 405/298;
}
.dd-removebg-preview-1 {
  width: 534px;
  height: 138px;
  position: absolute;
  left: 1097px;
  top: 567px;
  object-fit: cover;
  aspect-ratio: 534/138;
}
.d-removebg-preview-1 {
  width: 481px;
  height: 370px;
  position: absolute;
  left: 1123px;
  top: 290px;
  object-fit: cover;
  aspect-ratio: 478/380;
}
.rectangle-2307 {
  background: #ffffff;
  width: 923px;
  height: 832px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.example-eamil-com {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 239px;
  top: 416px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 340px;
  top: 182px;
}
._2025-03-10-122703-removebg-preview-2 {
  width: 187px;
  height: 59px;
  position: absolute;
  left: 16px;
  top: 16px;
  object-fit: cover;
  aspect-ratio: 187/59;
}
.icon-park-email-security {
  width: 169px;
  height: 169px;
  position: absolute;
  left: 362px;
  top: 215px;
  overflow: hidden;
  aspect-ratio: 1;
}
.group {
  width: 83.33%;
  height: 64.58%;
  position: absolute;
  right: 8.33%;
  left: 8.33%;
  bottom: 16.67%;
  top: 18.75%;
  overflow: visible;
}
.rectangle-2308 {
  background: #636ae8;
  border-radius: 20px;
  width: 290px;
  height: 58px;
  position: absolute;
  left: 290px;
  top: 618px;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 386px;
  top: 636px;
  width: 97px;
  height: 16px;
}
.rectangle-2310 {
  background: #efecec;
  border-radius: 10px;
  width: 394px;
  height: 55px;
  position: absolute;
  left: 234px;
  top: 514px;
}
.div3 {
  color: #b6b6b6;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 300px;
  top: 532px;
}
.vector {
  width: 1.95%;
  height: 5.25%;
  position: absolute;
  right: 1.09%;
  left: 96.95%;
  bottom: 95.43%;
  top: 1.32%;
  overflow: visible;
}
